<section id="cd-intro">
  <div id="cd-intro-background"></div>
  <div id="cd-intro-tagline">
    <h1>Responsive landing page </h1>
  </div> <!---cd-intro-tagline -->
</section> <!-- #cd-intro -->

<main class="cd-content">
  <div class="cd-container">
    <h2>This is the the title</h22>
      <p> Bacon ipsum dolor amet andouille shoulder strip steak pork, spare ribs ham hock ground round alcatra shankle. Sirloin chuck prosciutto shoulder capicola spare ribs short ribs cow t-bone kielbasa picanha pork landjaeger biltong. Shank pastrami corned beef drumstick, beef venison t-bone capicola shoulder fatback turkey ground round boudin landjaeger. </p>
      <p>Bacon ipsum dolor amet andouille shoulder strip steak pork, spare ribs ham hock ground round alcatra shankle. Sirloin chuck prosciutto shoulder capicola spare ribs short ribs cow t-bone kielbasa picanha pork landjaeger biltong. Shank pastrami corned beef drumstick, beef venison t-bone capicola shoulder fatback turkey ground round boudin landjaeger. </p>
    </div>
  </main> <!-- #cd-content -->
